<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hou.mapper.FlightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.hou.entity.Flight">
        <id column="ID" property="id" />
        <result column="airline" property="airline" />
        <result column="depAirport" property="depAirport" />
        <result column="arrAirport" property="arrAirport" />
        <result column="depTime" property="depTime" />
        <result column="arrTime" property="arrTime" />
        <result column="price" property="price" />
        <result column="availableSeats" property="availableSeats" />
        <result column="model" property="model" />
        <result column="status" property="status" />
    </resultMap>

    <select id="searchByID" resultType="com.example.hou.entity.Flight">
        select *
        from flight
        where id = #{ID}
    </select>


</mapper>
